node_modules
npm-debug.log
dist
coverage
.git
.github
.gitignore
README.md
azure-app-settings.md
azure-pipelines.yml
web.config
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.release-it.json
*.log
